<!DOCTYPE html>
<html>
<head>
    <title>NayePankh Volunteer System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>NayePankh Volunteer Management System</h1>
        <p>Manage volunteers efficiently and keep records organized.</p>

        <h3>Features</h3>

<p>
Volunteer Registration • Volunteer Search • Data Storage • NGO Management
</p>

        <a href="/add" class="btn">Register Volunteer</a>
        <a href="/volunteers" class="btn">View Volunteers</a>
    </div>
</body>
</html>